*{
  box-sizing:border-box;
}
a{
  text-decoration: none;
  color: #333;
}
.capsule{

}
.layout{
  max-width: 1000px;
  margin: 0 auto;
}
.clearfix::after{
  content: '';
  display: block;
  clear: both;
}
.highlight {
  color: #7bbaaa;
  border-radius: 5px;
  background: #efefef;
}

/* page css */
body{
  color: #333;
  font:16px/1.5 SimSun, STKaiti, "Microsoft YaHei", SimHei, Helvetica, Arial;
  background: gray;
}
.wrapper{
  background: #ececec;
  margin-top: 30px;
  margin-bottom: 30px;
  overflow: auto;
}
.sideBar{
  float: left;
  width:240px;
}
.sideBar .avatar{
  padding: 30px 0 20px 0;
  text-align: center;
}
.sideBar .avatar::after{
  content: '';
  display: block;
  width: 0;
  height: 0;
  border-right: 120px solid #d6d6d6;
  border-left: 120px solid transparent;
  border-top: 8px solid #d6d6d6;
  border-bottom: 8px solid transparent;
  margin-top:30px;
}
.sideBar .avatar h1{
  margin-top: 5px;
  margin-bottom: 0;
  font-size: 40px;
}
.sideBar .avatar h1::after{
  content: '';
  display: block;
  width: 80px;
  border-top: 1px solid #d6d6d6;
  margin: 0 auto;
}
.sideBar .avatar p{
  margin-top: 6px;
  margin-bottom: 5px;
}
.sideBar .contact {
  padding: 0 15px;
  margin-top: 0;
  margin-bottom: 0;
}
.sideBar .contact li{
  border-bottom: 1px solid #d6d6d6;
  list-style: none;
  line-height: 30px;
  font-family: "Microsoft YaHei";
  font-size: 14px;
}
.sideBar .contact .iconfont{
  border-right: 1px solid #d6d6d6;
  padding-right: 5px;
  margin-right: 5px;
  display: inline-block;
  padding-left: 5px;
  font-size: 18px;
  color: #7bbaaa;
}

.sideBar .contact::after{
  content: '';
  display: block;
  width: 0;
  height: 0;
  border-right: 120px solid transparent;
  border-left: 120px solid #7bbaaa;
  border-top: 8px solid transparent;
  border-bottom: 8px solid #7bbaaa;
  margin-top:30px;
  margin-left: -15px;
  padding-bottom: 0;
}
.sideBar .urls{
  padding: 0;
  background: #7bbaaa;
}
.sideBar *{
  margin: 0;
}
.sideBar .urls .iconfont{
  font-size: 32px;
  color: #ececec;
  margin-right: 20px;
  margin-left: 20px;
}
.sideBar .urls .icons{
  margin-left: 45px;
  margin-right: 30px;
}
.sideBar .urls::after{
  content: '';
  display: block;
  width: 0;
  height: 0;
  border-right: 120px solid #7bbaaa;
  border-left: 120px solid #ececec;
  border-top: 8px solid #7bbaaa;
  border-bottom: 8px solid #ececec;
}
.sideBar .others{
  font-family: "Microsoft YaHei";
  margin-top: 20px;
  margin-left: 55px;
  font-size: 14px;
  line-height: 22px;
}

.main{
  margin-left:240px;
  background: #fff;
  margin-top: 20px;
  margin-right: 20px;
  padding: 40px;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.2);
}
.main p{
  font-family: "Microsoft YaHei";
  line-height: 16px;
  font-size: 14px;
}
.main .intro img{
  float: left;
}
.main .intro p{
  margin-left: 110px;
  font-size: 20px;
  font-family: STKaiti;
  line-height: 30px;
}
